.title {
  text-decoration: none;
  font-weight: bold;
}

.title:hover {
  text-decoration: none;
}

.menu-links {
  text-decoration: none;
  color: salmon;
}

.menu-links:hover{
  color: greenyellow;
}


