.home-header {
  height: $bg-img-height;
  margin: 4rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url('../../images/house.jpeg') center no-repeat;
  background-size: cover;
}

.bg-img-desc {
  position: relative;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  background-color: rgba($dark, .25);

  h1 {
    color: $light;
  }
}

.card-link {
  &,& * {
    text-decoration: none;
  }
}
