.home-header {
  height: 20rem;
  margin: 4rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url('../../images/house.jpeg') center no-repeat;
  background-size: cover;

  h1 {
    color: $light;
  }
}